.logo img {
    width: 100px;
    height: 100px;
    margin: 5px 30px 5px 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.toopp {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: -10px -10px 0px -10px;
    width: 100%;
    z-index: 10;
}

.center ul {
    display: flex;
    margin-left: -20px;
}

.center ul li {
    margin: 10px 10px;
    list-style-type: none;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.5s;
}

.topbt {
    height: 20px;
    background-color: white;
    border-style: none;
}

.center ul li:hover {
    background-color: rgb(177, 177, 177);
}

.banners img {
    width: 100%;
    height: 500px;
    margin-top: 110px;
}

.search {
    height: 20px;
    width: 250px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(200, 196, 196);
    margin: 28px 80px;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sign {
    font-size: 20px;
    color: rgb(91, 91, 239);
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
    border-style: none;
    margin: 25px 0px 40px 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.sign:hover {
    background-color: rgb(186, 186, 249);
}

.wish {
    margin-left: 14px;
    height: 20px;
    width: 20px;
}

.wishlist {
    font-size: 12px;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
}

.wisher {
    margin: 20px 0px 28px 10px;
    padding: 10px;
    border-radius: 30px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.wisher:hover {
    background-color: rgb(244, 135, 135);
}

.bag {
    height: 20px;
    width: 20px;
    margin-left: 2px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 20px 40px;
}

.heading {
    margin: 40px 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}

.boxes {
    background-color: rgb(97, 97, 97);
    height: 420px;
    width: 200px;
    margin: 25PX 20px;
    align-items: center;
}

.images {
    width: 180px;
    height: 220px;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.item {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 45px;
    background-color: pink;
    border-radius: 5px;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.value {
    font-size: 20px;
    display: flex;
}

.minus {
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style: solid;
    border: none;
    margin: 10px 0px 10px 50px;
    cursor: pointer;
}

.minus:active {
    background-color: rgb(237, 63, 63);
}

.one {
    height: 26px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border: none;
    margin: 10px 2px;
    padding: 4px 0px 0px 8px;
    background-color: aquamarine;
}

.plus {
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 10px;
    border-style: solid;
    border: none;
    cursor: pointer;
}

.plus:active {
    background-color: rgb(49, 191, 39);
}

.price {
    font-size: 25px;
    background-color: rgb(239, 236, 64);
    margin: 5px 60px;
    padding: 2px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cart {
    font-size: 25px;
    background-color: rgb(129, 213, 125);
    margin: 5px 28px;
    padding: 2px 10px;
    border-radius: 10px;
    border-style: none;
}

.cart:hover {
    opacity: 0.6;
}

.cart:active {
    margin-top: 10px;
}

.bottoms {
    display: flex;
    border-color: black;
    border-style: none;
    border-width: 5px;
    background-color: white;
    margin-top: 10px;
}

.bottoms h1 {
    font-family: cursive;
    font-size: 25px;
}

.bottoms h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(80, 80, 80);
}

.subscribe {
    margin: 10px 10px 0px 50px;
}

.email {
    margin: 20px 0px 100px 0px;
    height: 50px;
    width: 350px;
    padding-left: 20px;
    font-size: 18px;
    background-color: rgb(208, 208, 208);
    color: black;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subs {
    height: 52px;
    width: 200px;
    color: white;
    font-size: 18px;
    background-color: black;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.download {
    margin: 10px 0px 0px 250px;
}

.play {
    display: flex;
}

.plays {
    height: 80px;
    width: 200px;
    margin: 10px 20px 0px 0px;
}

.cartmain {
    display: flex;
    flex-direction: column;
    background-color: rgb(166, 189, 242);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

.carthead {
    font-family: cursive;
    margin: 10px 40px;
    font-size: 30px;
    font-weight: bold;
}

.cartitems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
}

.cartimage {
    margin: 0px 0px;
    height: 150px;
    width: 127px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cartbox {
    height: 300px;
    width: 130px;
    background-color: rgb(248, 172, 172);
    margin: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cartbox p {
    font-family: cursive;
    margin: 5px 15px;
}

.netv {
    margin: 5px 10px;
    font-weight: bold;
}

.netvalue {
    font-family: cursive;
    font-weight: bold;
    background-color: yellow;
    height: 20px;
    width: 60px;
    margin: 5px 25px;
    padding: 0px 8px;
}

.emptycart {
    margin: -50px 0px 0px 550px;
    height: 366px;
    width: 366px;
}

.login {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.loginform {
    width: 280px;
    height: 350px;
    margin: 150px 600px;
    background-color: rgb(166, 237, 149);
    border-style: solid;
    border-color: black;
    padding: 0px 40px 10px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.close {
    height: 40px;
    width: 40px;
    border-style: none;
    background: transparent;
    margin: -60px 0px 0px 330px;
}

.loginform input {
    height: 25px;
    width: 250px;
    margin: 10px 10px 20px 0px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.submitbutton {
    height: 40px;
    width: 100px;
    margin: 10px 85px;
    font-weight: bold;
    background-color: rgb(21, 228, 21);
    border-style: solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.billmain {
    display: flex;
    background-color: black;
    padding-top: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.billhead {
    font-family: cursive;
    padding: 60px 20px 0px 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.billvalue {
    margin-left: 50px;
}

.line {
    height: 50px;
    width: 300px;
    padding: 0px;
}

.totalbill {
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    margin: 0px 0px 0px 100px;
    color: white;
    background-color: black;
}

.arrow img {
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 30px 0px 0px 60px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.clearmain {
    margin: 60px 200px;
}

.clearbutton {
    height: 50px;
    width: 150px;
    color: white;
    background-color: rgb(201, 28, 28);
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.clearbutton:hover {
    opacity: 0.6;
}

.floating {
    position: absolute;
    margin: -165px 0px 0px 100px;
}

.floating img {
    height: 30px;
    width: 25px;
    border-radius: 20px;
}

.deletebutton {
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}